@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #fff0f0;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
}
